</main>

  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top px-5" style="background-color: red; width: 100%;">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-white text-decoration-none lh-1">
        <img src="images/Logo_of_AC_Milan.png" alt="AC Milan Logo" height="40">
      </a>
      <span class="mb-3 mb-md-0 text-black">© <%=new Date().getFullYear() %> AC Milan Fan Site</span>
    </div>
  
    
    
  
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a href="https://x.com/acmilan?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"  target="_blank"  class="text-white">
          <img src="images/x.png" alt="Twitter" height="30">
        </a>
      </li>
      <li class="ms-3">
        <a href="https://www.instagram.com/acmilan/"  target="_blank"  class="text-white">
          <img src="images/instagram.png" alt="Instagram" height="30">
        </a>
      </li>
      <li class="ms-3">
        <a href="https://www.facebook.com/ACMilan/?locale=fr_FR"  target="_blank"  class="text-white">
          <img src="images/facebook.png" alt="Facebook" height="30">
        </a>
      </li>
    </ul>
    
  </footer>
  
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>

</html>